.header {
    height:40px;

    display:flex;
    flex-direction: row;
}

.left-section {
    width:150px;
    margin-right: 25px;
}

.middle-section {
    flex: 1;
    margin-left: 30px;
    margin-right: 200px;
    max-width: 800px;
    display: flex;
    align-items: center;
}

.search-bar {
    flex: 1;
    width: 100px;
    height: 30px;
}

.search-button {
    width: 50px;

}

.search-icon {
    height: 25px;
    margin-top: 2px;
    background-color: none;
}

.ntnu-icon {
    width: 150px;
    height: 50px;
}

.right-section {   
    width: 800px;
    display: flex;
    justify-content: center;
    margin-right: -20px;
}

.ri-1 {
    margin-right: 120px;
}

.ri-3 {
    margin-left: 120px;
}

.header-line {
    opacity: 0.3;
}

.Nb-line {
    opacity: 0.3;
}

.ability {
    margin-right: 300px;
    float: right;
    position: relative;
}

.detail-ability {
    padding-top: 20px; 
}

.self-abi {
    background-color: black;
    border-radius: 20px;
    width: 270px;
}

.pro-exp {
    background-color: black;
    border-radius: 20px;
    width: 370px;
    display:flex
}

.thesis {
    background-color: black;
    border-radius: 20px;
    width: 540px;
    margin-right: 0%;
}
   
.mark {
    width: 50px;
    height: 50px;
    margin-top: 100px;
    border-radius: 30px;
}

.mark2 {
    width: 50px;
    height: 50px;
    margin-top: 40px;
    border-radius: 30px;
}

.mark3 {
    width: 50px;
    height: 50px;
    margin-top: 40px;
    border-radius: 30px;  
}

.mark-icon {
    position:relative;
    float: right;
    margin-right: 50px;
}


.git-link {
    float: right;
    margin-top: 50px;
    background-color: gray;
    opacity: 0.8;
    border-radius: 20px;
    width: 400px;
    height:100px;
    justify-content: center;
}

.self-link {
    float: right;
    margin-top: 400px;
    margin-right: -420px;
    background-color: orange;
    opacity: 0.8;
    border-radius: 20px;
    width: 400px;
    height:100px;
    justify-content: center;
}

.icon104 {
    margin-left: 10px;
    width: 100px;
    height: 100px;
}

.icongit {
    margin-top: 10px;
    width: 120px;
    height: 80px;
}

.platform {
    margin-top: -65px;
    margin-left: 150px;
    
}

.git-platform {
    margin-top: -55px;
    margin-left: 160px;
}

.Abstact {
    line-height: 2.0;
    display: flex;
}

.abs-text {
    margin-right: 300px;
}

.abs-picture {
    width:450px;
    height:250px; 
    border-color: black;
    background-color: aliceblue;
    border-style: solid;
    border-width: 1.5px;
}

.share-picture {
    width: 40px;
    height: 40px;
    border-color: black;
    background-color: aliceblue;
    border-style: solid;
    border-width: 1.0px;
    border-radius: 10px;
}

.export-picture {
 
    width: 40px;
    height: 40px;
    border-color: black;
    background-color: aliceblue;
    border-style: solid;
    border-width: 1.0px;
    border-radius: 10px;
}

.ABS-pic {
    margin-right: 250px;
}


.Migration {
    float: right;
    margin-right: 100px;
    margin-top: -550px;
}

.Vibration {
    float: right;
    margin-right: 100px;
    margin-top: -582px;
}

.pymatgen-decoration {
    float: right;
    display: flex;
    margin-right: 700px;
    margin-top: -230px;
    opacity: 0.8;
}

.pymatgen-text {
    float: right;
    margin-right: 250px;
    margin-top: -200px;
}

.hamburger-icon {
    float: right;
    width: 35px;
    height: 35px;
    margin-top: 5px;
}
